# URL Base de la API de Nanutech (AWS API Gateway)
# Copia este archivo como .env por cada APP para sus pruebas locales y ajusta si es necesario
VITE_API_URL=https://wbda73ufn9.execute-api.us-east-2.amazonaws.com/dev